@use '../../App/ColorStyles.scss' as *;

$widthSelect : 230px;
$heightSelect : 150px;

.submitMassege{
    position: absolute;
    top: 20vh;
    left: -150px;
    
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(130, 255, 130);
    padding: 10px;
    font-size: 14px;
    z-index: -1;
}

.submitMassege.submit{
    animation: massegeMove 2s;
}

@keyframes massegeMove{
    0%{
        left: -150px;
    }
    50%{
        left: 0px;
        opacity: 1;
    }
    100%{
        left: 0px;
        opacity: 0;
    }
}

.CreateCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: monospace;

}

.createTitle{
    margin: 10px;
    color: $strongColor;
}

.createCardSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0px 10px 20px $strongColor;

    width: 500px;
    height: 500px;
    border: 2px solid $strongColor;
    border-radius: 10px;
}

.imgCard{
    border: 2px solid #333;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: $widthSelect;
    height: $heightSelect;

    input{
        position: absolute;
        opacity: 0;
        width: $widthSelect;
        height: $heightSelect;
        z-index: 2;
    }

    overflow: hidden;
}

.imgPrev{
    img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        min-width: $widthSelect;
        min-height: $heightSelect;
        object-fit: cover;
    }
}

.selectTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    p{
        font-size: 14px;
        color: rgb(65, 65, 65);
    }
}

.selectBtn{
    height: 40px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
}

.imgCard:hover .selectBtn{
    transition: all 1s;
    background-color: $strongColor;
    color: white;
}

.button{
    margin: 20px 0px;
}

.helper{
    margin: 100px 0px;
    
    strong{
        color: $strongColor;
    }
}

.helperList{
    list-style:decimal;
    margin: 20px 20px;

    li{
        margin: 10px 0px;
        font-size: 16px;
    }
}

.examples{
    margin-top: 50px;
    max-width: 70vw;
    h1{
        margin: 10px 0px;
    }
    p{       
        font-size: 14px;
    }
}